appdirs==1.4.4
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.1
cycler==0.11.0
dill==0.3.5.1
dlx==1.0.4
docplex==2.23.222
fastdtw==0.3.4
fonttools==4.33.3
h5py==3.2.1
idna==3.4
inflection==0.5.1
joblib==1.1.0
kiwisolver==1.4.2
lxml==4.9.1
matplotlib==3.5.2
more-itertools==9.0.0
mpmath==1.2.1
multitasking==0.0.11
ntlm-auth==1.5.0
numpy==1.22.4
packaging==21.3
pandas==1.4.2
pbr==5.11.0
Pillow==9.1.1
ply==3.11
psutil==5.9.3
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
qiskit==0.39.0
qiskit-aer==0.11.0
qiskit-ibmq-provider==0.19.2
qiskit-ignis==0.7.1
qiskit-machine-learning==0.4.0
qiskit-terra==0.22.0
Quandl==3.7.0
requests==2.28.1
requests-ntlm==1.1.0
retworkx==0.12.0
rustworkx==0.12.0
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
stevedore==4.1.0
symengine==0.9.2
sympy==1.11.1
threadpoolctl==3.1.0
tweedledum==1.1.1
urllib3==1.26.12
websocket-client==1.4.1
websockets==10.3
yfinance==0.1.80
